HELP.md
.gradle
build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Web Configuration ###
!backend/src/main/java/com/toyproject/globalMarket/configuration/web/WebConfig.java
fronted/src/configuration/web/webConfig.ts

### Special ###
!frontend/src/configuration/special/SpecialConfig.ts

### Various properties ###
*.properties
!backend/src/main/resources/application.properties
!backend/gradle/wrapper/gradle-wrapper.properties

!frontend/tsconfig.json

frontend/nohup.out

#### Test ###
#backend/src/test/*

### special scripts
scripts/*
app.sh
react.log

###Resources
!backend/src/main/resources
!backend/src/main/resources/googleCredentials.json

!backend/src/Images/commit.sh
!backend/src/Images/convert.sh
!backend/src/Images/init.sh
!backend/src/Images/master.sh
tokens/*

lib/*

#### Images
#backend/src/Images
#backend/src/Images/*

demo/*